@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Resume Parser</h1>
    <h4 class="display-4">Free to use -- will summarize and give feedback on a resume for any job position</h4>
</div>
